.venv/
venv/
__pycache__/
*.py[cod]

.env

.pytest_cache/
.coverage
htmlcov/

.vscode/
.DS_Store

data/raw/*
!data/raw/.gitkeep

data/staging/*
!data/staging/.gitkeep

*.log
logs/
*.egg-info/
.vs/
# Visual Studio / SSIS / SSRS local build artefacts
**/bin/
**/obj/
*.user
*.rsuser
*.dtproj.backup
*_BACKUP.dtsx

# Visual Studio generated SSIS and SSRS cache files
*.database
*.rdl.data
